[user]
	email = rafael.rondao@gmail.com
	name = Rafael Rondao

[init]
	defaultBranch = main

[pull]
	ff = only

[core]
	editor = helix
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true # use n and N to move between diff sections
	light = false   # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
